#footer {
  .container {
    .content--footer {
      display: flex;
      align-items: center;
      padding-top: 10rem;
      justify-content: center;
      h2{
        margin: 0 44px;
        color:  #333333;
      }
    }
    .footer--one{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 44px;
    }
  }
}